In [1]:
SELECT *
FROM PERSON;